[2019-05-13 13:48] Jack-Works opened #1 "TypeError: "can't access dead object""
Envorioment: Firefox **Extension**

Reason:
[code]
https://github.com/calebdwilliams/construct-style-sheets/blob/master/adoptedStyleSheets.js#L39
https://github.com/calebdwilliams/construct-style-sheets/blob/master/adoptedStyleSheets.js#L64-L67

The polyfill adds the dom then remove it.

Firefox bans strong reference to DOM object in **WebExtension**, after `.removeChild(iframe)`, `frameBody` beco

[2019-05-13 14:50] calebdwilliams commented on #1
Hey @Jack-Works thanks for this. I'll get a new version out ASAP and ping you when it's ready.

[2019-05-13 15:01] Jack-Works commented on #1
Cool thanks!

[2019-05-13 20:26] calebdwilliams commented on #1
This has been updated. Had some weirdness with my build script, so it published as a version 2.0.0. I'll also port it back to version 1 tonight, but moving to v2 should give you what you need for the time being.

[2019-05-13 20:26] #1 closed

[2019-05-29 10:16] Jack-Works opened #3 "Every time set to .adopted... this polyfill always generate new sets of styles but not removing the old one"
![image](https://user-images.githubusercontent.com/5390719/58549254-b0108780-823d-11e9-9074-980ca1f6d59e.png)

[2019-06-17 21:05] calebdwilliams commented on #3
@Jack-Works did your PR fix this issue or is this still outstanding?

[2019-06-18 03:13] Jack-Works commented on #3
No, I'm not fixing it. Just remove the old styling will break the style. I think it caused by the order of stylesheets

[2019-08-18 00:05] Lodin opened #4 "CSSStyleSheet instanceof check does not work"
I tried to create a simple `instanceof` check for the `CSSStyleSheet` object, but it returns `false`.
Is it possible to pass the check?
[code]

[2019-08-18 11:33] calebdwilliams commented on #4
Yeah, this one is a bit weird. Both Firefox and Safari have the actual style sheet object (ie `document.styleSheets[0]` as instances of the `StyleSheet` global rather than `CSSStyleSheet`. I don't really know why that is.

Supposedly you can tinker with the prototype to make this call work. I wasn't able to in the five minutes I tried, but even if I could I question the wisdom in doing so as that

[2019-08-18 11:48] Lodin commented on #4
Oh I missed your reply. I found the case and the solution. Basically, it was because you replaces `window.CSSStyleSheet` with a `_StyleSheet` class, and then return an actual ("old") `CSSStyleSheet` from its constructor. So while the `instanceof` check I expect the instance of the `CSSStyleSheet` to be an instance of the `_StyleSheet` class under the `window.CSSStyleSheet`. That's why it fails.

I

[2019-08-18 12:25] #4 closed

[2019-08-18 12:27] calebdwilliams commented on #4
@Lodin, this has been released as part of version 2.1.0. Thanks for the contribution.

[2019-08-19 16:33] Lodin opened #6 "[question] Does the iframe work better than a template element?"
I continue exploring the abilities of `CSSStyleSheet` object and this polyfill and found that the polyfill implementation uses the `iframe` element. Just wonder why not `template` element or even `DocumentFragment`? Is it connected with how browser parses and uses the CSS?

[2019-08-19 16:36] calebdwilliams commented on #6
The style element needs to be connected in order to create the style sheet object. This seemed to be the lightest-weight way to get that object and avoid side effects.

[2019-08-19 16:37] Lodin commented on #6
Oh I see, thanks!

[2019-08-19 16:37] #6 closed

[2019-08-22 23:08] Lodin opened #7 "Does not stylize the custom elements that are not direct children of the ShadowRoot"
I'm continue experimenting with the polyfill and found that it does not stylize element if it is not a direct child of the `ShadowRoot`. E.g., like the following:
[code]

I found the source of the problem and going to create a PR to solve it.

[2019-08-23 02:42] calebdwilliams commented on #7
Could you rephrase the issue? I’m. It sure I follow. What is the current behavior and what is the expected behavior? Could you provide a reproduction here?

[2019-08-23 10:57] Lodin commented on #7
@calebdwilliams, yeah, sure, sorry for that. I was too hasty.
I added a repro and a brief description. BTW, creating a repro, I found another bug I didn't fix in my PR 😩.

[2019-08-23 12:09] Lodin opened #10 "Does not adopt styles of custom element if it is a child of element without adopted styles"
If the custom element is rendered in the Shadow DOM of another custom element which does not have `adoptedStyleSheet` property set, it won't adopt the styles.

It happens because the `MutationObserver` is created in the `adoptedStyleSheets` property setter only. So, if you didn't set this property for the element, its `ShadowRoot` won't be observed, and any child added won't perform the adoption l

[2019-08-25 19:16] guybedford opened #11 "Including the polyfill in the head gives an obscure error"
When including the polyfill within the `<head>` tag synchronously, this throws a mutation observer error when trying to attach to `document.body` as `body` is null during page parsing.

It could be worth either supporting this case, better documenting it, or providing a more useful error message.

[2019-08-25 19:48] guybedford opened #12 "IE11 Support"
We're recommending this polyfill for usage in the SystemJS 6.x (yet to be released) implementation of CSS modules (https://github.com/systemjs/systemjs/blob/6.x/docs/module-types.md#css-modules).

Because SystemJS supports IE11, we've had to note that this polyfill can't be used for CSS modules in IE11.

IE11 does fully support mutation observers though, so it may simply be that avoiding the sprea

[2019-08-26 02:50] calebdwilliams commented on #12
Yeah, I’m open to a PR on this. There is another PR open that is a pretty major refactor. I’ll work this week to get that completed and merged then ping you when it’s ready for your changes.

[2019-08-26 15:56] calebdwilliams opened #13 "Move style sheet object to WeakMap"
Long term, we should consider moving the metadata object for the constructed style sheet to a `WeakMap` to avoid polluting the nativeStyleSheet's interface.

[2019-08-29 01:01] #11 closed

[2019-08-29 01:02] calebdwilliams commented on #11
@guybedford This should be fixed in version 2.2.1

[2019-08-29 06:35] Lodin opened #16 "Add CI testing & coverage"
To be sure the project has all tests passing in all target browsers and the coverage is OK, the CI service should be added. I personally use the [Travis CI](https://travis-ci.com) for testing and [Codecov](https://codecov.io) for coverage.

[2019-08-29 11:32] edoardocavazza commented on #12
Also, classes are not supported and babel output may be throw because of https://github.com/babel/babel/issues/4452.

[2019-08-29 11:36] #13 closed

[2019-08-29 14:33] calebdwilliams commented on #16
Yup, I already have this in my backlog. Thanks for creating this issue though.

[2019-08-29 16:55] calebdwilliams commented on #16
Travis integration added in #18.

[2019-08-29 17:54] guybedford opened #20 "Edge Support"
**Describe the bug**
Edge Support is currently failing

**To Reproduce**
Run the polyfill script in Edge.

**Expected behavior**
Edge support should be possible?

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Windows 10
 - Browser [e.g. chrome, safari] Edge
 - Version [e.g. 22] 18

**Additional context**
Add any other context about the problem here.

I

[2019-08-29 17:54] guybedford commented on #12
I suppose https://github.com/calebdwilliams/construct-style-sheets/issues/20 is a necessary starting point first too.

[2019-08-29 19:01] calebdwilliams commented on #12
#20 has a PR open at #21. To be honest, this is my first major project to maintain and I'm not sure about the proper etiquette of reviewing my own PRs :joy:. Mind taking a look at that one as part of this?

[2019-08-29 20:00] #20 closed

[2019-08-30 17:30] calebdwilliams commented on #16
Code coverage and badging added in #22

[2019-08-30 17:30] #16 closed

[2019-08-30 17:59] calebdwilliams commented on #12
Running this through the Babel REPL seems to yield the right results. I don't have an IE11 machine hand at this moment though. @guybedford would you mind checking if this works in IE11 and reporting back? I am especially interested in the `Symbol.hasInstance`, but unfortunately have no way of checking any of this.

[2019-08-30 18:49] calebdwilliams opened #23 "Document need for Symbol polyfill"
**Describe the bug**
Add language to README that details the needs for a polyfill for `Symbol`. core-js should do the job, maybe offer an alternative?

**To Reproduce**
Running this package through Babel and in IE11 will result in an error because `Symbol` isn't defined.

**Expected behavior**
We should detail for the consumer the need for a polyfill for Symbol in the project's README.

**Desktop

[2019-08-30 18:51] calebdwilliams opened #24 "Update ParentNode methods (append/prepend) to work in IE11"
**Describe the bug**
IE11 doesn't support `append/prepend`.

**To Reproduce**
Run the polyfill through Babel and run in IE11.

**Expected behavior**
The polyfill should work as expected

**Desktop (please complete the following information):**
 - IE11

[2019-08-30 18:52] calebdwilliams opened #25 "Find alternative to isConnected"
**Describe the bug**
`Node.isConnected` is not supported by IE11.

**To Reproduce**
Run the package through Babel and then in IE11.

**Expected behavior**
The polyfill should work as expected

**Desktop (please complete the following information):**
 - IE11

[2019-08-30 19:42] calebdwilliams commented on #24
Addressed in #26

[2019-08-30 19:42] #24 closed

[2019-08-30 19:42] calebdwilliams commented on #23
Addressed in #26

[2019-08-30 19:42] #23 closed

[2019-08-30 19:49] calebdwilliams commented on #25
It's possible `isConnected` is no longer necessary. Playing around with this.

[2019-08-31 00:22] Lodin commented on #25
We can just require the [`isConnected` polyfill](https://github.com/zaclummys/is-connected-node) in documentation. It is quite small, only [323B](https://bundlephobia.com/result?p=is-connected-node@1.0.0-beta) according to Bundlephobia.

Unfortunately, we cannot drop `isConnected` if we want to support actions like `insertRule`. They require adopters to have a sheet.

[2019-08-31 12:19] calebdwilliams commented on #25
Yeah, was playing with that last night. I want to not use a dependency if possible, but we might have to.

[2019-08-31 13:39] Lodin commented on #25
Well, we still need `WeakMap`, `Map`, `Symbol`, `Promise`... Why not to require `isConnected` as well? This is not a feature that can be simply emulated, so I would prefer to rely on dependency here.

[2019-08-31 16:46] calebdwilliams commented on #25
I put this in #28, but let's not include polyfills for `WeakMap`, `Map`, `Symbol` or `Promise` inside this package to ensure interop with polyfills in consuming projects.

[2019-08-31 16:50] guybedford opened #29 "Edge bug"
I just tested out the fixes included previously, and that seems to have worked in resolving the previous bug, but now a new error is being thrown in Edge:

[code]

[2019-09-01 10:18] Lodin opened #30 "[Suggestion] Remove support for CSSStyleSheet methods"
While working on #28, I found that it is quite tricky to implement support for `CSSStyleSheet` methods like `insertRule`, `deleteRule`, etc. for `ShadyCSS`. The root of the problem is that `ShadyCSS` works with CSS text while the polyfill operates with `HTMLStyleElement`. So it is not easy to just apply `CSSStyleSheet` methods on the resulting style sheet the `ShadyCSS` produces.

So my suggestion

[2019-09-01 13:32] calebdwilliams commented on #30
The original version of this project didn’t support those methods, but I believe @Jack-Works added support because he needs that for his project, so I hesitate to remove support for a feature that’s in use especially just for compact with ShadyDOM. Regardless, this would need to be a breaking change.

[2019-09-01 16:54] Jack-Works commented on #30
A widely used project JSS is using these methods.

So you are right, removing these methods supporting is a breaking change

[2019-09-01 18:11] Lodin commented on #30
Ok, I got the situation. Let's emulate that behavior then 😎

[2019-09-01 18:11] #30 closed

[2019-09-06 03:55] #12 closed

[2019-09-06 03:55] #25 closed

[2019-09-06 03:55] #29 closed

[2019-09-12 15:30] DumbledoreD opened #31 "HierarchyRequestError on Firefox"
**Describe the bug**
Firefox throws `HierarchyRequestError: Node cannot be inserted at the specified point in the hierarchy` when adding style sheets to the document.

The errors occurs in `function adoptStyleSheets` at:

[code]

**To Reproduce**
In index.html:
[code]

**Expected behavior**
No errors.

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Browser: Firefox
 - Ve

[2019-09-12 19:44] #31 closed, assigned to calebdwilliams

[2019-10-08 06:58] Jack-Works commented on #3
I think it may be a problem of https://github.com/mui-org/material-ui/issues/17126 instead of this project

[2019-10-08 09:28] Lodin commented on #3
@Jack-Works, does the issue appear again? In #9, I fixed a couple of possible causes of the issue, so it should be solved after merge.

[2019-10-08 10:43] Jack-Works commented on #3
I didn't check it, never mind, I think it works well now

[2019-10-18 17:35] calebdwilliams opened #36 "Add typings for TypeScript"
**Describe the bug**
Add a `d.ts` file that will add the `replace` and `replaceSync` methods to the global `CSSStyleSheet` interface for TypeScript.

**Expected behavior**
A TypeScript project importing this polyfill should not throw on the following

[code]

**Additional context**
Add any other context about the problem here.

[2019-10-21 13:45] Lodin commented on #36
Can I take it?

[2019-10-23 15:58] calebdwilliams commented on #36
@Lodin Sure. If you have time. I've been swamped at work and home and haven't had much time to put that in. Happy to have that.

[2019-10-31 03:43] #36 closed

[2019-11-11 16:51] DumbledoreD opened #38 "sheetMetadataRegistry fail to register sheet set asynchronously"
**Describe the bug**

Set `adoptedStyleSheets` asynchronously when `sheet.replace` is resolved will cause the polyfill to throw `_sheetMetadataRegistr is undefined` in `function adoptStyleSheets`.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

No errors.

Although set the sheet synchronously solves the problem on Firefox. Chrome will crash with DevTools open and

[2019-11-11 20:55] DumbledoreD commented on #38
I find the problem with my code.

[code]

When polyfilled, `sheet !== loadedSheet` as [this line](https://github.com/calebdwilliams/construct-style-sheets/blob/f492daf857040d2cd4394d2fad90d21863f0f7b3/src/ConstructStyleSheet.js#L104) indicated.

The following block of code works for both Chrome and polyfilled Firefox:

[code]

[2019-11-11 20:55] #38 closed

[2019-11-13 10:35] timaschew opened #39 "Exception while loading this polyfill together with webcomponents-lite polyfill"
**Describe the bug**
An exception is thrown just by loading the polyfill.
This is the exception:
[code]

**Screenshot**
<img width="756" alt="Screen Shot 2019-11-13 at 11 34 23" src="https://user-images.githubusercontent.com/110870/68755960-a15e3700-0609-11ea-85fd-2e75226afbdb.png">

**To Reproduce**
Load this polyfill in addition: https://github.com/webcomponents/webcomponentsjs/blob/v1/webcompon

[2019-11-13 10:45] timaschew commented on #39
Using latest version of the [polymer polyfill](https://unpkg.com/browse/@webcomponents/webcomponentsjs@2.4.0/webcomponents-bundle.js) is showing the same error multiple times but without any stack trace (line numbers)

[2019-11-14 11:58] calebdwilliams commented on #39
Thanks for letting me know. I don't have immediate access to a Windows machine so I can't diagnose, but @Lodin might be able to help on this one.

[2019-11-14 17:32] Lodin commented on #39
@timaschew, trying to reproduce the bug, I created the following [glitch example](https://glitch.com/edit/#!/striped-gouda) and tested it with the Edge 44.18362.387.0. Unfortunately, looks like I cannot reproduce the bug with this code. Could you take a look at it and provide a repro of the bug you found?

[2019-11-14 23:46] timaschew commented on #39
@calebdwilliams me neither, I've used a VM from here: https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

@Lodin
The element needs to be used in the markup. Your example works fine in my Edge.
But please try this:

[code]

[2019-11-16 03:08] #39 closed

[2019-11-16 03:12] calebdwilliams commented on #39
Hey @timaschew, could you check the latest version (2.3.1) and let us know if this can stay closed?

Thanks!

[2019-11-18 08:48] timaschew commented on #39
Hi, great it's working. But I have a warning due to source map for 2.3.1
I'm using this CDN: https://cdn.jsdelivr.net/npm/construct-style-sheets-polyfill@2.3.1/dist/adoptedStyleSheets.min.js

[2019-11-24 11:16] jogibear9988 opened #42 "Seems not to work on My Custom controls (on some it does)"
**Describe the bug**
Look at https://node-projects.github.io/web-component-designer/build/
at the element "designer-tab-control"

Som of the instances have styles, some not...

**To Reproduce**
Go to https://node-projects.github.io/web-component-designer/build/ with firefox

**Expected behavior**
It should look the same in Chrome and in FF

[2019-11-24 11:16] jogibear9988 commented on #42
elements view in chrome:

![image](https://user-images.githubusercontent.com/364896/69493848-41db1380-0eb4-11ea-9ac6-034ed1f501a2.png)

[2019-11-24 11:16] jogibear9988 commented on #42
and in firefox

![image](https://user-images.githubusercontent.com/364896/69493854-4ef80280-0eb4-11ea-8308-4b6c546eb7ef.png)

[2019-11-24 11:17] jogibear9988 commented on #42
but in the main area the cunstructible style sheets work also in FF...

![image](https://user-images.githubusercontent.com/364896/69493861-620ad280-0eb4-11ea-8125-30a7c63ba77a.png)

[2019-11-26 15:48] calebdwilliams commented on #42
Thanks for reporting this. I’m on vacation right now so I might not get to this immediately, but I will get to this ASAP.

[2019-11-26 19:50] akc42 opened #43 "adopted style sheet is not overriding the styles declared in the custom element"
**Describe the bug**
The poly

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please co

[2019-11-27 15:29] calebdwilliams commented on #43
Looks like styles aren’t getting appended to the end of the location. I’ll take a look at this when I get a chance.

[2019-11-27 16:59] akc42 commented on #43
Sorry for the lack of information.  I started this issue off - them went off to read the spec to see what it said about the order of the styles.  Then I realised that lit-element also adds styles at the end of the list of styles if adoptedStylesheets isn't implemented and then realised that I didn't need to use them for what I was trying do do (change `:host {display: none}` to `:host {display: bl

[2019-11-28 17:09] calebdwilliams commented on #43
Yeah, it does. This used to work before a large-scale refactor that was done recently. The `adoptedStyleSheets` take precedence. I've made a small change that will ensure proper cascade order in _most_ cases and will make that more robust in the future when I'm not on family duty.

At any rate this will work as expected in version 2.3.3.

[2019-11-28 17:09] #43 closed

[2019-11-28 17:14] calebdwilliams commented on #42
Could you send me the source code here or via DM on Twitter ([@calebwilliams12](https://twitter.com/calebwilliams12)), I would be better able to diagnose this.

[2019-11-28 17:27] jogibear9988 commented on #42
the source are in the repo named above

[2019-11-29 16:01] calebdwilliams commented on #42
Got it. So it looks like there is a race condition between your tab control's mutation observer and the one used by the polyfill to make sure the style sheets don't get removed. What command can I use to run the project?

[2019-11-29 16:13] jogibear9988 commented on #42
Source is here: https://github.com/node-projects/web-component-designer
Build via Typescript
Run Via polymer serve :
polymer serve --port 8000 --open

[2019-11-29 16:15] calebdwilliams commented on #42
Perfect. I'll see if I can't figure this out over the next few days.

[2020-01-16 09:45] enjikaka opened #44 "Latest release on npm includes livereload script that breaks usage."
https://unpkg.com/construct-style-sheets-polyfill

which resolves to version 2.3.3 as of now includes `(function(l, r) { if (l.getElementById('livereloadscript')) return; r = l.createElement('script'); r.async = 1; r.src = '//' + (window.location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1'; r.id = 'livereloadscript'; l.head.appendChild(r) })(window.document);`
which break

[2020-01-16 12:13] Lodin commented on #44
Wait, that looks suspicious. The latest version of this package according to the commit history is 2.3.2. There should be no 2.3.3.

[2020-01-16 12:37] calebdwilliams commented on #44
Honestly it looks like the dev version got checked in somehow. Regardless, I've published 2.3.4 and changed my npm credentials FWIW. Thanks for bringing this up @enjikaka.

[2020-01-16 12:37] #44 closed

[2020-01-16 12:55] enjikaka commented on #44
Thanks for the fix!

Trying this out on https://podd.app now. Seems to be running well! 🎉

[2020-01-22 00:24] DesignByOnyx opened #45 "Referential integrity is lost on replace()"
**Describe the bug**
The object returned by `replace` is not the same as the original instance. I'm not sure if this is a bug, but it differs from Chrome's implementation.

**To Reproduce**
[code]

**Expected behavior**
Being that Chrome has native support for the CSSStyleSheet constructor, I would expect the polyfill should stay in line with their implementation until a more formal spec is in pla

[2020-01-23 00:23] DesignByOnyx commented on #45
If you want to see why this is a problem, this is what we are doing:

[code]
and then later on:
[code]
The above works natively in Chrome but fails with the polyfill (in Firefox). The problem is that `theSheet` (returned from `replace`) is not the same sheet which is registered in the `sheetMetadataRegistry`. As such, the lookup fails here: https://github.com/calebdwilliams/construct-style-sheets/

[2020-01-23 16:26] calebdwilliams commented on #45
Thanks for raising this issue. It's been awhile since I've been in this code base, but I'm not 100 percent sure this is doable with how the polyfill has to work. I am happy to dive in to this or accept a contribution if you want to take a crack at it.

[2020-01-23 18:14] DesignByOnyx commented on #45
Yeah, I was looking at the code and am not entirely sure it's possible either... not without some major rework. The code essentially reduces down to this:

[code]

I might take a stab at fixing this. It would definitely be a major breaking change. Do you have any opinions, advice, or reservations about my doing this?

[2020-01-25 20:34] calebdwilliams commented on #45
Yeah, this isn't going to be strictly possible because of how style elements work. Try this (even in Chrome)

[code]

@DesignByOnyx, @Lodin any ideas here?

[2020-01-25 22:26] Lodin commented on #45
Due to specific of the polyfill implementation (we are trying to work with the immutable object as the mutable one) I'm not sure we can fix this issue.

However, there is one possible workaround. You could use the `sheet` instance itself in the closure instead of received `theSheet`. These two variables should be used in the following case:
* `theSheet` should be used for retrieving the current CS

[2020-01-27 16:01] calebdwilliams commented on #45
Yeah, I've played with this a bit and I'm not sure we're going to get it to work. I would advise using @Lodin's workaround. If you'd like to attempt a contribution to make this work, feel free. I'll keep this issue open for a bit and if there's no activity I'll close it.

[2020-01-27 17:44] DesignByOnyx commented on #45
@Lodin - that is what we are doing on our end, and it works - so I am personally not blocked by this. I just was hoping to save somebody else the same headache. It took two of us a couple hours to figure out the root cause, and we both had bald spots from scratching our heads.

@calebdwilliams - your [example](https://github.com/calebdwilliams/construct-style-sheets/issues/45#issuecomment-57844078

[2020-01-28 07:13] Lodin commented on #45
@DesignByOnyx, I think we can mention this case in the documentation to avoid such time loss for other people. Though, I really would like to see the solution you came up with.

[2020-02-03 19:56] jogibear9988 commented on #42
@calebdwilliams you got any chance to look at this?

[2020-02-04 12:33] jogibear9988 commented on #42
@calebdwilliams
I now included a breakpoint in my component when applying the style via "adopted Stylesheets" but then it works

;-(

[2020-02-04 12:45] jogibear9988 commented on #42
If I remove the "isConnected" check  in "initAdoptedStyleSheets" it works

[2020-02-04 18:14] calebdwilliams commented on #42
That actually helps a lot. Let me play with it again.

[2020-02-04 18:21] jogibear9988 commented on #42
thx

[2020-02-04 18:54] jogibear9988 commented on #42
And again a little bit more info.

I've 3 node-projects-designer-tab-control in my page.
on two the Adopted Stylesheet does not work.

One is in the sahdow root of node-projects-attribute-editor, there it does not get the "style" added to it's shadow root.

[2020-02-05 18:51] jogibear9988 commented on #42
@calebdwilliams
maybe we could make the check optional? so I could disable it via parameter? (okay, I also would like it better to find the root cause)

[2020-02-05 20:57] calebdwilliams commented on #42
Looks like this is an issue with running the adopted stylesheets in the element's constructor rather than the `connectedCallback` which was the advice from Google awhile back. Let me see what I can do.

[2020-02-05 21:27] calebdwilliams commented on #42
@Lodin You made a comment in #25 that `isConnected` is still necessary, but running a few (admittedly basic tests). It seems like it's OK to remove now. Do you remember the specifics of that?

[2020-02-05 21:28] jogibear9988 commented on #42
if you look here https://wicg.github.io/construct-stylesheets/#proposed-solution
they assign the adopted in the constructor.
and parse the style in the connected (but I did that also in the constructor)

[2020-02-05 21:31] calebdwilliams commented on #42
Yeah, the initial implementation in Chrome had a bug that would disallow using it in the constructor, but it was a bug. I just never went back and tried. I'm looking for another way to accomplish this.

[2020-02-05 21:38] jogibear9988 commented on #42
can't we add a mutationobserver when the connected is false, wich listens if the element was added to the dom?
or is there no mutation event for this, only for the children?

[2020-02-05 21:48] calebdwilliams commented on #42
No, connecting to the DOM doesn't trigger a mutation event; you'd need to add a childList watcher to every `DocumentOrShadowRoot` instance to get that. Although you _might_ be able to proxy `IsConnected`, but that feels like overkill.

[2020-02-05 21:51] jogibear9988 commented on #42
sure that this can be proxied? maybe it's not set, maybe it's readonly

i think the observer on every shadowroot is not good for perf....

maybe don't need the connected check any more...

[2020-02-05 21:54] calebdwilliams commented on #42
I mean, technically we already have an observer on every shadow root to make sure no one deletes one of the style elements. It's not particularly bad, but it might lead to a race condition if we do anything else.

[2020-02-06 05:10] jogibear9988 commented on #42
isnt the adopted array imutable? so we should know about changed styles when the setter is called again?

[2020-02-06 13:43] Lodin commented on #42
@calebdwilliams, unfortunately, we cannot remove it. If you delete checking for `isConnected` [here](https://github.com/calebdwilliams/construct-style-sheets/blob/master/src/init.js#L90), [this](https://github.com/calebdwilliams/construct-style-sheets/blob/master/test/polyfill.test.js#L356) test will fail.

It happens because of `insertRule` (or similar `CSSStyleSheet` functions) which require the

[2020-02-06 15:20] calebdwilliams commented on #42
@Lodin, that's what I thought it was, but for whatever reason I can't get tests to run on my work computer and don't really have time to wrestle with that particular question. I'll see if I can't find a work around.

[2020-02-06 15:27] calebdwilliams commented on #42
So it appears wrapping that call in a `Promise.resolve` or `window.requestAnimationFrame` will make things work. Seems we have a race condition with `isConnected`.  Personally the latter makes sense since it is interfacing with the paint API anyway. Either way it's just queuing a microtask. I'll get this released later today.

[2020-02-06 15:57] calebdwilliams commented on #42
Fixed! @jogibear9988 check version 2.3.5.

[2020-02-07 19:00] DesignByOnyx commented on #45
Give a look at that PR. I didn't want to spend too much time on it yet, but it fixes the issue I brought up in this ticket, and it does it without overwriting methods on the default browser CSSStyleSheet prototype.

I feel like there's a use case that I'm not considering, but I tested this in Firefox and it works as expected. Let me know if you see any situations that I neglected to consider.

[2020-02-07 19:19] calebdwilliams commented on #45
I’ll check that out this weekend. Right off the bat, can you make sure non-constructed stylesheet a throw with the right error message? You are right about the methods being in those sheets in Chrome though that might be a bug. I’ll double check the spec threads.

[2020-02-07 20:33] calebdwilliams commented on #42
@jogibear9988 Can you confirm this fixes your issue?

[2020-02-10 22:49] calebdwilliams commented on #42
Closing for the time being. Will reopen if there is need.

[2020-02-10 22:49] #42 closed

[2020-06-03 11:32] jogibear9988 opened #49 "@import now also forbitten in replace"
https://developers.google.com/web/updates/2020/05/chrome-84-deps-rems#import_rules_in_cssstylesheetreplace_removed

[2020-06-03 14:30] calebdwilliams commented on #49
Hey, I've been waiting for Chrome to implement this behavior before adding to the polyfill so we can stick as close to the behavior of Chrome as possible. That should happen with a release this month, so it's coming soon.

If you're interested in contributing, let me know. Otherwise, I'll take it on once the final behavior is known.

[2020-07-29 04:23] hieunc229 opened #53 "How to use `construct-style-sheets` on iframe"
When using construct-style-sheets for iframe, the current document has `adoptedStyleSheets` but not the iframe.
I've tried to fork a local repository and create a `ConstructuredStyleSheet({ targetWindow })`. Which will initiate the `adoptedStyleSheet` to the target window and its document. But it is just so buggy.

Is there any way the iframe will inherit `adoptedStyleSheets` or somehow to use it

[2020-07-29 13:06] calebdwilliams commented on #53
Ideally you’ll load the script in every document you need `adoptedStyleSheets` Because the `document` and `window` instances are unique.

While I can watch all shadow roots in a document, it’s unrealistic to watch for new frames all the way down.

[2020-08-04 04:02] hieunc229 commented on #53
Thanks for the answer @calebdwilliams.

Your recommendation was what I've been doing, but I'm not so confident in my changes. The polyfill uses global variables, they are conflicting between the iframe and the main page global variables.

For example, the original code uses a global `document` instead of an assigned variable. There are a few variables that depend on these global variables (i.e `ha

[2020-08-04 04:02] #53 closed

[2020-08-04 12:12] calebdwilliams commented on #53
Yeah, I’d pursue this but sheets cant be reused across documents so it doesn’t quite make sense.

[2020-08-04 12:47] hieunc229 commented on #53
Sorry for didn’t make my point clear.

I mean the polyfill should be reusable, not the sheets. Since It uses global variables, it causes encapsulation problem.

If you do plan to working on it, I’d be so glad. Though, I’m aware you might not have time.

Thanks for the library anyway.

[2020-08-05 00:53] dyoder opened #54 "removeExcludedStyleSheets doesn't remove any stylesheets after it finds a non-excluded sheet"
**Describe the bug**

Short version: [this line][1] should be `continue` not `return`.

[1]: https://github.com/calebdwilliams/construct-style-sheets/blob/b6b1988ec842ba60059436811a7ed4707771bd1d/src/adopt.js#L84

Slightly longer version: when checking for excluded stylesheets, `removeExcludedStyleSheets` returns after finding a stylesheet that should not be included. This prevents it from checkin

[2020-08-05 18:11] Lodin opened #57 "RFC: Integrity version"
It's been a while but I'm here with new thoughts about the polyfill implementation.

### Integrity

The idea came from #45 and #46. Before, I thought that we should operate with real `CSSStyleSheet` classes to avoid any inconsistency that may come from using the wrapper class. However, after some investigation, I couldn't find any specific cases we aren't able to use the wrapper class for if we cr

[2020-08-05 18:23] Lodin commented on #57
Well, I don't like using the compiler itself as well. I prefer `@babel/preset-typescript`.

Sure

[2020-08-19 17:50] calebdwilliams commented on #49
Hey @jogibear9988, I just wanted to let you know that 2.4.0 now warns and removes `@import`s. Thanks for raising the issue.

[2020-08-19 17:50] #49 closed

[2020-08-19 17:51] calebdwilliams commented on #54
Hey @dyoder, 2.4.0 includes your changes. Thanks for the contribution!

[2020-08-19 17:51] #54 closed

[2020-08-28 11:13] TechQuery commented on #36
There is still no `.d.ts` in `dist/` of NPM package...

[2020-09-04 03:57] pinkhominid opened #58 "Stray console.log in published 2.4.0 pkg"
**Describe the bug**
The recent 2.4.0 package logs unnecessary messages to the dev console. The line is not found in the repo source, just the published pkg.

**To Reproduce**
Steps to reproduce the behavior:
Install, import, use latest package in Firefox or Safari.

**Expected behavior**
Shouldn't log messages to the console.

**Screenshots**
<img width="589" alt="image" src="https://user-images.

[2020-09-06 13:41] calebdwilliams commented on #58
Hey @pinkhominid, sorry about that. I've removed those from the dist. Thanks for pointing that out!

[2020-09-06 13:41] #58 closed

[2020-09-10 21:15] DumbledoreD opened #60 "TypeError: Right hand side of instanceof is not an object"
**Describe the bug**
`TypeError: Right hand side of instanceof is not an object` is raised from `instanceOfStyleSheet` when the polyfill is used with LitElement.

**To Reproduce**
[code]

Add the following to `./dev/index.html` head
[code]

Start server `yarn serve` and visit http://localhost:8000/dev/index.html

Observe the error in the console, and `my-element` is not rendered.

**Expected behav

[2020-09-20 15:37] calebdwilliams commented on #60
Hey @DumbledoreD, I ran through your instructions and everything is working as expected using Safari 12.2.1 and Firefox 79.0 and Firefox 80.0.1. In all versions I tested, I was also able to confirm `my-element.shadowRoot.adoptedStyleSheets` was being used instead of `LitElement`'s solution.

[2020-09-25 08:46] gluck opened #62 "Overriding HTMLElement.attachShadow breaks other polyfills"
**Describe the bug**
`attachShadow` is defined (per spec) on `Element` but this polyfill sets it on `HTMLElement.prototype`
If anyone else later changes `Element.prototype.attachShadow`, their code is never called (on HTMLElements), because this library's polyfill takes precedence, and revert to the native attachShadow code (captured during init).

**To Reproduce**
https://codesandbox.io/s/attachs

[2020-09-25 15:47] calebdwilliams commented on #62
Oh dang, great catch. I'll get a fix out for that immediately.

[2020-09-25 15:57] calebdwilliams commented on #62
This is fixed in version 2.4.2. Thanks for bringing this to my attention.

[2020-09-25 15:57] #62 closed

[2020-09-25 17:33] DumbledoreD commented on #60
Can confirm the error is gone. Tested the setup on BrowserStack. I'll close this. Thanks!

[2020-09-25 17:33] #60 closed

[2020-09-25 19:18] gluck commented on #62
That was fast ! Thanks !

[2020-09-25 21:02] gluck commented on #62
Note that it's working fine with LWC polyfill now, except for an exception:

[code]

That's because LWC is modifying the shadowRoot property and returns something which is not of type `ShadowRoot`, hence don't get the augmented properties set by this polyfill.
You might want to safeguard against the exception with an additional check, assuming we don't want this polyfill to apply in this case.

[2020-09-26 01:14] calebdwilliams commented on #62
Hey, I’m not sure I follow. Are you saying that lwc patches `attachShadow` and doesn’t rerun a `ShadowRoot`?

[2020-09-26 06:09] gluck commented on #62
Exactly, but it does so only for lwc components, for other elements it reverts to native attachShadow, so this polyfill would still work for those.

[2020-11-13 14:26] sdyalor opened #64 "[Feature Request] Usage with text editors"
Is there a way to expose an import like
`import { adoptedStyleSheets } from 'construct-style-sheets-polyfill';`

Reason: Usage for vscode completion and warning free.
![image](https://user-images.githubusercontent.com/50224521/99082493-39cb2680-2592-11eb-8972-31f307d5039f.png)

[2020-11-14 05:03] calebdwilliams commented on #64
Toppings _should_ be exported. I’ll take a look tomorrow.

[2020-11-18 04:26] ar2r13 opened #65 "adoptedStyleSheets does not applies on 'closed' shadowRoot"
**Describe the bug**
adoptedStyleSheets does not apply on `{ type : 'closed' }` shadowRoot

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - Browser: Safari

[2020-11-26 02:08] sdyalor commented on #64
There are workarounds but duno how to do the right way with typescript :'(

[2020-12-13 16:58] adi518 commented on #65
But that's the idea of a shadow DOM being closed.

[2020-12-29 16:38] #45 closed

[2020-12-29 17:01] calebdwilliams commented on #57
The code to maintain referential integrity has been released. Closing this issue for now. I am open to adopting TypeScript, will look at that in January.

[2020-12-29 17:01] #57 closed

[2020-12-29 17:02] calebdwilliams commented on #64
Looks like the `d.ts` file wasn't included in the files array in package.json. That has been fixed in 2.4.6, but probably can be improved. I'll look at a wholesale adopting of TypeScript in January, but `replace` and `replaceSync` should be added to Intellisense now.

[2020-12-29 17:02] #64 closed

[2020-12-29 17:04] calebdwilliams commented on #65
I have mixed thoughts here. I _could_ capture the shadow root when it's created and save a reference for myself, but that feels antithetical to closed shadow roots. I might add this when I switch to TypeScript. I'll leave this open for now.

[2021-01-22 13:47] Artur- opened #67 "Styles are not applied for elements created when document is loading"
**Describe the bug**
An adoptedStyleSheets set during page load is not applied when `initPolyfill` is called when the document has finished loading.

**To Reproduce**
[code]
or the live version at https://artur.app.fi/stylesheet-polyfill-bug.html

**Expected behavior**
The text in the example case is blue when the style sheet is applied. When opening the page in Chrome, the text is blue (native im

[2021-01-22 14:42] Artur- commented on #67
https://github.com/Artur-/construct-style-sheets/commit/d4c27f17b45d924a1415acf4c5b4e783a0787540 seems to fix this but it is quite unclear to me if this is the correct way to fix it.

[2021-02-12 01:02] BrychanOdlum opened #69 "[Regression] Incorrect style embed priority."
**Describe the bug**
When a web component defines its own styles within the `innerHTML`, this polyfill prepends the styles above, giving the `innerHTML` stylesheet priority. This is opposite to the native behaviour of Chrome. When testing in Chrome 88 the styles defined by `adoptedStyleSheets` take priority.

**To Reproduce**
1. Go to the following JSFiddle: https://jsfiddle.net/j06uL2np/
2. Test

[2021-02-12 02:01] BrychanOdlum commented on #69
This looks like a regression as it was working in v2.3.3.

[2021-02-12 03:37] calebdwilliams commented on #69
Yup, something’s wrong. Confirmed in Firefox. I’ll take a look when I get a chance.

[2021-02-13 17:05] calebdwilliams commented on #69
This is fixed 2.4.11.

[2021-02-13 17:05] #69 closed

[2021-02-13 20:02] calebdwilliams commented on #67
Hey, your code looks fine to me. I’m not sure the best way to test that either tbh, but let’s create a PR and work on it together.

[2021-02-14 08:29] Artur- commented on #67
Created #70 with a description of how I tried to make a test

[2021-02-14 14:46] #67 closed

[2021-02-14 15:32] calebdwilliams commented on #65
This should be fixed in version 2.4.16.

[2021-02-14 15:32] #65 closed

[2021-05-14 12:58] Artur- opened #76 "Other micro tasks can be executed while initPolyfill is running"
**Describe the bug**
This code in `initPolyfill` can be interrupted in the middle: https://github.com/calebdwilliams/construct-style-sheets/blob/b793dd74c7b1b4c03617471c041712194a55a467/src/init.js#L20-L25

It can be seen by running e.g. the following in a browser console
[code]

In Firefox you get
[code]

But in Safari you get
[code]

Is this an academic problem? Unfortunately not.

I see the pro

[2021-05-14 13:23] calebdwilliams commented on #76
Interesting. Could you push out a reproduction repo, CodePen or StackBlitz? I’d love to poke around at this and also see how #72 would affect this. I’ve had spotty availability this week, but am hoping to review/merge that next week. If this bug is fixed in that version, I will prioritize getting that merged/released.

[2021-05-14 13:25] Artur- commented on #76
I wasn't able to produce a reliable test case but I can give it another shot

[2021-05-14 14:01] Artur- commented on #76
Created https://stackblitz.com/edit/js-3fovpz?file=index.js
At least in this case it requires an invalid value to be assigned to `document.adoptedStyleSheets` to the problematic instanceof check is triggered

[2021-05-21 06:31] Artur- opened #77 "Lots of "Uncaught TypeError: observer is undefined" errors"
**Describe the bug**
[code]
assumes that there is an observer on the location
[code]

An observe is registered for body in `initPolyfill`:
[code]
and for each shadow root in `attachShadow`:
[code]

But this code
[code]

will actually use `this.head` i.e. `document.head` as the `location` when `isDocumentLoading()` is true.

This will always cause
[code]
in
[code]

**Desktop (please complete the fo

[2021-06-01 14:11] hennessyevan opened #79 "ReferenceError: document is not defined in SSR context"
**Describe the bug**
The injected code on line 3 `if ('adoptedStyleSheets' in document) { return; }` fails in a node environment because document not defined

**To Reproduce**
Run this code in an SSR context

**Expected behavior**
Expected to catch this case and return early.

[2021-06-21 08:26] Lodin commented on #76
@Artur-, could you please check if the issue is resolved with the `3.0.0-0` version?

[2021-08-12 10:21] franktopel opened #83 "With the polyfill loaded, Firefox 91.0 no longer shows any styles in style inspector"
**Describe the bug**
With the polyfill loaded, it is no longer possible to inspect any element's styles in the Firefox developer tools Inspector tab. No styles are presented at all. This not only applies to elements using constructed stylesheet, but also to all other regular HTML elements.

Current Firefox developer edition (92.0b2) also doesn't support constructed stylesheets, but does not have t

[2021-08-12 11:45] Lodin commented on #83
Hi @franktopel, thanks for filing the issue.

Which version of the polyfill do you use? `v2.x.x` or `v3.0.0`?

[2021-08-12 11:51] #79 closed

[2021-08-12 14:27] franktopel commented on #83
[code]

[2021-08-12 15:13] franktopel commented on #83
It has to be noted that this is especially troublesome since Firefox 91 is going to be the next ESR version.

[2021-08-15 16:40] Lodin commented on #83
Hi @franktopel. I tried to reproduce your case but failed. Here is my [attempt](https://qfivc.csb.app/). I can see CSS styles for both imported css file and for constructed style sheets.

**Regular CSS**
![image](https://user-images.githubusercontent.com/8037479/129485659-4f4873d1-0ea0-49e3-a34e-c1a4af4fa818.png)
**Constructed StyleSheet CSS**
![image](https://user-images.githubusercontent.com/803

[2021-08-15 17:05] franktopel commented on #83
Will check your example. We're using a Vite.js/rollup-based build stack, btw.

[2021-08-17 07:56] franktopel commented on #83
I tried to create a small reproducer, but failed. I think thi can be closed for the time being, until I can provide a reproducer at least.

[2021-08-17 07:56] #83 closed

[2021-08-30 19:09] Artur- opened #84 "Missing styles with v3 and Safari 14"
**Describe the bug**
The CSS rules in `adoptedStyleSheets` are supposed to end up inside `<style>` tags inside the shadow root. In Safari in some cases, the `<style>` tags are empty instead.

**To Reproduce**
https://start.vaadin.com/app/ is running the polyfill v2. If you open the URL in Safari, you can see a small globe icon next to "globe-solid" in the "Icon" select.

This comes from CSS which

[2021-08-31 05:33] Artur- commented on #84
I see, the styles are set using `style.sheet` in V3.

With V2, if you check the rule from the `<style>` tags using
[code]
you get
[code]

With V3, the same query results in
[code]

So all is fine except that the `content: ;` part is completely missing

[2021-08-31 05:45] Artur- commented on #84
The problem seems to be in this code in the polyfill
[code]

After running `to.insertRule(rule.cssText, i);` one would probably assume that
[code]

but for the content rules I see
[code]

[2021-09-05 09:41] Lodin commented on #84
Confirmed. Looks like it is a Safari bug. I'll look for a workaround

[2021-09-05 10:32] Lodin commented on #84
Found the reason. If you execute the following command:
[code]
And then try to get the value:
[code]
You will get the following output:
[code]
If you then try to add it to `insertRule`, nothing will be added:
[code]
This happens only in Safari; other browsers (even IE11) handle this case correctly.

I guess it is connected with [this](https://bugs.webkit.org/show_bug.cgi?id=185953) bug. It also me

[2021-09-05 13:30] calebdwilliams commented on #84
Well, I've gotten it working with a bit of hackery, I'm not sure if/when/how this would break though. The basic concept would be to manipulate the `rule.cssText` and look for `/content:(.*?);` and run add some the missing quotes like so:

[code]

You can [see it working in this Pen](https://codepen.io/calebdwilliams/pen/mdwrzrj?editors=0010). This is the best solution I can think of for now, defin

[2021-09-05 20:21] Lodin commented on #84
Yes, I thought about a similar solution. However, there are pitfalls that I'm concerned about According to [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/content), the `content` property can contain either enum values (`normal`, `none`, `open-quote`, etc.) and string values that can be anything. We cannot just wrap any value with quotes; we also have too little info about the value to perf

[2021-09-05 21:35] calebdwilliams commented on #84
Seems like the most effective solution then would be to run the above except for that set of conditions (which is fortunately small). I’d rather have a condition that developers can’t write `content: "normal"` than not use before or after.

It’s either that or revert to the innerText rule that we used before.

[2021-10-02 03:23] calebdwilliams commented on #84
@Artur- this should be fixed in the latest version, 3.0.3.

[2021-10-02 03:23] #84 closed

[2021-10-02 15:27] Artur- commented on #76
I no longer see `TypeError: Right hand side of instanceof is not an object` with 3.0.3 🎉

[2021-10-02 15:27] #76 closed

[2021-10-02 15:27] Artur- commented on #77
I no longer see this with 3.0.3 🎉

[2021-10-02 15:27] #77 closed

[2021-10-03 06:18] Artur- opened #87 "background:none is applied as background-image:none in Safari"
**Describe the bug**
[code]
shows a blue background in Safari.

**To Reproduce**
https://artur.app.fi/stylesheet-polyfill-bug3.html

**Expected behavior**
The element should have the defined CSS rules set and thus no background.

**Screenshots**
Styles in Chrome
![image](https://user-images.githubusercontent.com/260340/135742438-d4e7a125-b17a-435c-a7fc-b202582f6ee9.png)

Styles in Safari
![image](

[2021-10-13 20:52] sirisian opened #90 "Performance issues (in Firefox) with Web Components"
**Describe the bug**
I'm using this with Webpack to load the CSS for my web components. I noticed on Firefox it inserts a style tag for each CSSStyleSheet that is loaded. I don't know if my idea below will make things faster, but if someone could test it, I'd appreciate it.

**To Reproduce**
Steps to reproduce the behavior:

Create a uicomponent.js and uicomponent.css. Fill the uicomponent.css wit

[2021-10-14 13:32] calebdwilliams commented on #87
@Artur- can you confirm this is fixed?

[2021-11-05 03:24] mantou132 opened #91 "`new CSSStyleSheet().media` is not object"
**Describe the bug**
unimplemented https://developer.mozilla.org/en-US/docs/Web/API/MediaList

**To Reproduce**
Steps to reproduce the behavior:
Safari visit https://codepen.io/mantou132/pen/mdMXXrN

**Expected behavior**
No error

**Desktop (please complete the following information):**
 - OS: macOS
 - Browser Safari
 - Version 15

[2021-12-23 12:01] jogibear9988 opened #92 "npm version >7"
Is there any reason why you need npm version to be >7 ?

[2021-12-27 21:10] calebdwilliams commented on #92
cc @Lodin, looks like you added that. Any info you can give @jogibear9988?

[2022-01-28 11:27] Lodin commented on #92
Hey guys, sorry for late answer.

Hmm, I don't remember the exact reason but it looks like I thought that it should affect only the package developers. For devs, it is necessary to preserve the correct version of the `package-lock.json`.

I guess we could safely remove this restriction if it affects not only devs.

[2022-01-28 11:28] Lodin commented on #91
Hey @mantou132, thanks for your post and sorry for the late answer. I'm going to take care of it.

[2022-01-30 16:25] #92 closed

[2022-01-30 16:30] #91 closed

[2022-04-04 08:47] jkissel opened #108 "FOUC in Firefox"
**Describe the bug**
I get a FOUC in Firefox.

**To Reproduce**
My setup is basically this (only with more app around it): http://jsfiddle.net/6scbyupm/

When loading the page, the icon is gigantic, before the size from the stylesheet is applied.

This seems to be related to the requestAnimationFrame() here: https://github.com/calebdwilliams/construct-style-sheets/blob/e6c517754845ed32f42df10d456d

[2022-04-28 12:46] konstantinkreft opened #110 "SyntaxError in Safari"
**Describe the bug**
When using this polyfill (`>= v3.0.4`) Safari throws a `SyntaxError: The string did not match the expected pattern.` which results in not applying any styles.
I can only reproduce this error when using the polyfill with [twind](twind.dev). So it could also be a bug of twind but it works with `construct-style-sheets-polyfill@3.0.3` so I'm not really sure.

Safari is highlightin

[2022-04-28 14:45] PlusUltra404 commented on #110
@konstantinkreft
Hello,
I am a senior at Clemson University completing a Bachelor's in Computer Science. Would I be able to help assist in this Issue? For my final assignment I need to contribute to an active repository and I believe I would be a good resource for this issue as I have good experience in React.

[2022-04-28 14:53] calebdwilliams commented on #110
@PlusUltra404 Yeah, I'd be happy to field a PR from this. Let me know if you need anything including help in figuring out what's going on. I _think_ I might know (hint there's a former PR or issue that might be related).

[2022-04-28 19:17] konstantinkreft commented on #110
@PlusUltra404 Sure, that would be great!

Since it breaks with `v3.0.4` we can narrow it down to this commit: https://github.com/calebdwilliams/construct-style-sheets/commit/4e03571ba5822f6208a68e62f29a5d25d310b581

[2022-05-27 22:09] edbaafi opened #111 "Potential Memory Leak?"
Hi @calebdwilliams!

Thanks for the important polyfill!  Rather than a  confirmed bug report, this is more of a question about a potential memory leak in the current implementation.

I have only done a cursory review of the codebase so please correct me if I'm wrong, but it seems the following is true:

1. a  [`Location`](https://github.com/calebdwilliams/construct-style-sheets/blob/e6c517754845ed

[2022-07-10 13:20] dntzhang opened #113 "Error v3.1.0 in safari"
<img width="491" alt="image" src="https://user-images.githubusercontent.com/7917954/178146550-012b6e0c-482a-4dfe-88dc-8c62f49fe840.png">

<img width="420" alt="image" src="https://user-images.githubusercontent.com/7917954/178146561-e08af00d-29b2-474e-b5ad-863b04f182bc.png">

<img width="452" alt="image" src="https://user-images.githubusercontent.com/7917954/178146600-6a7cca39-9d1f-49d5-a907-f65d08

[2022-07-10 13:24] dntzhang commented on #113
https://github.com/Tencent/omi/commit/4c50c9404b18b0cc7af3895d94ae1de79862d2b1

[2022-07-10 13:35] dntzhang commented on #113
https://github.com/Tencent/omi/commit/ff35f86b4c5bc432007931d6d944e2cd54db6d1d

<=v3.0.1  ok

[2022-07-17 23:21] fsmorygo opened #114 "Mutating CSSStyleDeclaration (via `.setProperty()` for example) does not update injected style"
**Describe the bug**
Mutating CSSStyleDeclaration (via `.setProperty()` for example) does not update injected style. When I change its value, only ConstructedStyleSheet is changed, but I don't see any changes in DOM

**To Reproduce**
1. Create and add a Stylesheet with some rules to a Shadow DOM's `adoptedStyleSheets`
2. Change some property with `myRule.style.setPropety('width', '10px)`3.
3. Chec

[2022-08-11 17:56] alexabreu commented on #113
I'm also encountering Safari issues. Specifically, it seems the polyfill is not being recognized as a`TypeError: Illegal constructor` error is being thrown when invoking `new CSSStyleSheet()`. However, Firefox works as intended. I noticed that there are some extra steps to make the polyfill work for IE11. Are similar steps required for Safari? I tried downgrading as suggested above, but had no luc

[2022-08-13 13:07] calebdwilliams commented on #113
@dntzhang/@alexabreu could you provide the text you're passing in that might be causing this issue? I haven't seen anything on my end.